{% extends 'blog/main.html' %} {% block content %}

<div id="wrapper">
    <!-- Main -->
    <div id="main">

        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">Title</a></h2>
                    <p>Subtitle</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">Date Published</time>
                    <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
                </div>
            </header>
            <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
            <p>Full Article</p>
            <p>Full Article</p>
            <footer>
                <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon solid fa-heart">Likes 28</a></li>
                    <li><a href="#" class="icon solid fa-comment">Comments 128</a></li>
                </ul>
            </footer>
        </article>

    </div>

    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; FUTURE. IMPERFECT: <a href="">BrysonMundia</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </section>
    {% endblock content %}