{% extends 'blog/main.html' %} {% load static %} {% block content %}


<div id="main">
    {% for post in new %}
    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="{% url 'post-detail' post.id %}"> {{ post.title | truncatechars:25}} </a></h2>
                <p><a href="#"> {{ post.category }} </a></p>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01"> {{ post.date_posted |date:"F d, Y" }}</time>
                <a href=" {% url 'accounts:profile' %} " class="author"><span class="name"> {{ post.author }} </span><img src=" {{ post.author.profile.profile_pic.url }} " alt="" /></a>
            </div>
        </header>
        <a href="" class="image featured" style="object-fit: cover;"><img src=" {{ post.image.url }} " alt="" /></a>
        <p> {{ post.content| truncatechars:100}} </p>
        <footer>
            <ul class="actions">
                <li><a href="{% url 'post-detail' post.id %}" class="button large">Continue Reading </a></li>
                <!-- change id attribute to slug -->
            </ul>
            <ul class="stats">
                <li><a href="#">General</a></li>
                <li><a href="#" class="icon solid fa-heart">28</a></li>
                <li><a href="#" class="icon solid fa-comment">128</a></li>
                <li>
                    <a href=" {% url 'accounts:bookmark_add' post.id %} " class="icon solid fa-bookmark"></a>
                </li>
            </ul>
        </footer>
    </article>
    {% endfor %}
    <!-- Pagination -->
    <ul class="actions pagination">
        <li><a href="" class="disabled button large previous">Previous Page</a></li>
        <li><a href="#" class="button large next">Next Page</a></li>
    </ul>

</div>

{% endblock content %}