{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ====== CSS ======-->
    <link rel="stylesheet" href=" {% static 'assets/css/main.css' %} " />
    <!-- ====== Title ======-->
    {% if title %}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
</head>

<body class="is-preload">

    {% include 'blog/navbar.html' %}

    <div id="wrapper">

        {% block content %} {% endblock content %} {% include 'blog/sidebar.html' %}

    </div>

</body>
<!-- ====== JS ======-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src=" {% static 'assets/js/jquery.min.js' %}"></script>
<script src=" {% static 'assets/js/browser.min.js' %} "></script>
<script src=" {% static 'assets/js/breakpoints.min.js' %} "></script>
<script src=" {% static 'assets/js/util.js' %} "></script>
<script src=" {% static 'assets/js/main.js' %} "></script>
<script>
    function formExit() {
        document.getElementById("newForm").remove();
    }

    function myFunction(id) {
        if (document.contains(document.getElementById("newForm"))) {
            document.getElementById("newForm").remove();
        }

        var d1 = document.getElementById(id);
        d1.insertAdjacentHTML('afterend',
            '<form id="newForm" class="form-insert py-2" method="post"> \
                   <textarea name="content" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \
                  {% csrf_token %} \
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
                </form>');
    }

    $('#myForm').trigger("reset");

    $(document).on('click', '#like-button', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "accounts:like" %}',
            data: {
                postid: $('#like-button').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success: function(json) {
                document.getElementById("like_count").innerHTML = json['result']
            },
            error: function(xhr, errmsg, err) {

            }
        });
    })
</script>

</html>