{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ====== CSS ======-->
    <link rel="stylesheet" href=" {% static 'assets/css/main.css' %} " />
    <!-- ====== Title ======-->
    {% if title %}
    <title>Django Blog - {{ title }}</title>
    {% else %}
    <title>Django Blog</title>
    {% endif %}
</head>

<body class="is-preload">

    {% include 'blog/loader.html' %} {% include 'blog/navbar.html' %}

    <div id="wrapper">

        {% block content %} {% endblock content %} {% include 'blog/sidebar.html' %}

    </div>

</body>
<!-- ====== JS ======-->
<script src=" {% static 'assets/js/jquery.min.js' %}"></script>
<script src=" {% static 'assets/js/browser.min.js' %} "></script>
<script src=" {% static 'assets/js/breakpoints.min.js' %} "></script>
<script src=" {% static 'assets/js/util.js' %} "></script>
<script src=" {% static 'assets/js/main.js' %} "></script>

</html>