{% load static %}
<!-- Header -->
<header id="header">
    <h1><a href=" {% url 'blog-home' %} ">Future Allure</a></h1>
    <nav class="links">
        <ul>
            <li><a href=" {% url 'blog-home' %} ">Home</a></li>
            {% for category in category_list %}
            <li><a href=" /category/{{category.name}} "> {{ category.name }} </a></li>
            {% endfor %}
        </ul>
    </nav>
    <nav class="main">
        <ul>
            <li class="search">
                <a class="fa-search" href="#search">Search</a>
                <form id="search" method="get" action="#">
                    <input type="text" name="query" placeholder="Search" />
                </form>
            </li>
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<section id="menu">

    <!-- Search -->
    <section>
        <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search" />
        </form>
    </section>

    <!-- Links -->
    <section>
        <ul class="links">
            <li>
                <a href=" {% url 'post-create' %}">
                    <h3>Write a blog</h3>
                    <p> Create your story </p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h3>Stories</h3>
                    <p>Posted Blogs</p>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href=" {% url 'accounts:profile' %} ">
                    <h3>Design Your Profile</h3>
                    <p>Update</p>
                </a>
            </li>
            <li>
                
                <a href=" {% url 'project-overview' %} ">
                    <h3>Project Overview</h3>
                    <p>Description about Django Blog</p>
                </a>
            </li>
            {% else %}
            <li>
                <a href=" {% url 'login' %} ">
                    <h3>Login</h3>
                    <p>Access your Account</p>
                </a>
            </li>
            <li>
                <a href=" {% url 'accounts:register' %} ">
                    <h3>Register</h3>
                    <p>Create an Account</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </section>

    <!-- Actions -->
    <section>
        {% if user.is_authenticated %}
        <ul class="actions stacked">
            <li><a href=" {% url 'accounts:logout' %} " class="button large fit">Log Out</a></li>
        </ul>
        {% endif %}
    </section>

</section>