{% extends 'blog/main.html' %} {% load static %} {% block content %}
<style>
    .like_btn, button, submit{
        border: none;
        outline: none;
        font-size:0.9em;
        background:none;   
    }
</style>
<div id="main">

    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h2>{{ object.title }}, {{ object.location }} </h2>
                <p> {{ object.category }}  </p>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01"> {{ object.date_posted |date:"F d, Y" }}</time>
                <a href="#" class="author"><span class="name"> {{ object.author }} </span><img src=" {{ post.author.profile.profile_pic.url }} " alt="" /></a>
            </div>
        </header>
        <a href="" class="image featured" style="object-fit: cover;"><img src=" {{ object.image.url }} " alt="" /></a>
        <p> {{ object.content }} </p>
        <footer>
            <ul class="stats">
                <li><a href="#">General</a></li>

                {% if request.user.is_authenticated %}
                <button class="like_btn" id="like-button" value="{{post.id}}">
                    <li><a id="like_count" class="icon solid fa-heart">{{post.like_count}}</a></li>
                  </button>

            {% else %}

            <li><a href="{% url 'accounts:register' %}" class="icon solid fa-heart">{{post.like_count}}</a></li>
            {% endif %}

            {% if user.is_authenticated %}
            <li><a href=" {% url 'add_comment' post.pk %} " class="icon solid fa-comment">128</a></li>
            {% else %}
            <li><a href=" {% url 'accounts:register' %} " class="icon solid fa-bookmark"></a></li>
            {% endif %}
                <li><a href="#" class="icon solid fa-bookmark"></a></li>
            </ul>
        </footer>
    </article>

    <!-- Comment Section  -->
    {% if not post.comments.all %}
    <article class="post">
        <header>
            <div class="title">
               <h2>No Comment...</h2>
            </div>
        </header>
    </article>

    {% else%}
    {% for comment in post.comments.all %}
    <article class="post">
        <header>
            <div class="title">
                <h3> {{comment.name}} </h3>
                <p> {{ comment.body }}  </p>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01"> {{ comment.publish |date:"F d, Y" }}</time>
                <a href="#" class="author"><span class="name"> {{ object.author }} </span><img src=" {{ post.author.profile.profile_pic.url }} " alt="" /></a>
            </div>
        </header>
    </article>
    {% endfor %}
    {% endif %}    
</div>

{% endblock content %}
