{% extends 'blog/main.html' %} {% load static %}{% block content %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
<style>
h3{
    margin-top: 10px;
    text-align: center;
}
.overview-title{
    text-align: center;
}
</style>

    <div id="main">
        <!-- Project overview -->
        <article class="post">
            <header>
                <div class="title">
                    <h2 class="overview-title">Project overview</h2> 
                </div>
            </header>
            <footer>
                <p>Django blog is a project whereby</p>
            </footer>
        </article>
    </div>   
{% endblock content %}