{% load static %} {% block content %}
<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a href="#" class="logo"><img src=" {% static 'images/logo.jpg' %} " alt="" /></a>
        <header>
            <h2>Future Allure</h2>
            <p>The First Blog Website by yours truly <a href="https://github.com/Bryson69" target="_blank">Bryson69</a></p>
        </header>
    </section>

    <!-- Mini Posts -->
    <section>
        <div class="mini-posts">

            <!-- Mini Post -->
            {% for category in category_list|slice:":5" %}
            <article class="mini-post">
                <header>
                    <h3><a href="/category/{{category.name}}">{{ category.name }}</a></h3>
                    <time class="published" datetime="2015-10-19">{{ category.date_posted |date:"d F, Y" }}</time>
                    <!-- month/date/ year -->
                    <a href="#" class="author"><img src=" ../../../../../static/images/img (28).jpg " alt="" /></a>
                </header>
                <a href="/category/{{category.name}}" class="image"><img src=" {{ category.image.url }} " style="height:200px; object-fit: cover;" alt="" /></a>
            </article>
            {% endfor %}
        </div>
    </section>
    <!-- Posts List -->
    <section>
        <ul class="posts">
            {% for archive in archive_list|slice:":5" %}
            <li>
                <article>
                    <header>
                        <h3><a href="/archive/{{archive.name}}">{{archive.name}}</a></h3>
                        <time class="published" datetime="2015-10-20">{{ archive.date_posted |date:"d F, Y" }}</time>
                    </header>
                    <a href="" class="image"><img style="height:60px; width:70px; object-fit: cover;" src=" {{ archive.image.url }} " alt="" /></a>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>

    <!-- About -->
    <section class="blurb">
        <h2>About</h2>
        <p>A simple blog app that allows users to register and login. A user profile is created once you register to the app. Update your profile picture, banner as well as your bio. Users can like & bookmarks posts.
            <br> Enjoy your time here.👍
        </p>
        <ul class="actions">
            <li><a href="#" class="button">Learn More</a></li>
        </ul>
    </section>


    <!-- Footer -->
    <section id="footer">
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon solid fa-phone"><span class="label">Phone</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Built By: <a href="https://github.com/Bryson69" target="_blank">Bryson69</a>. Images: <a href="http://unsplash.com" target="_blank">Unsplash</a>.</p>
    </section>

</section>
{% endblock content %}