{% extends 'blog/main.html' %} {% block content %}

				<!-- Main -->
                <div id="main">

                    <!-- Post -->
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2><a href="#">TITLE</a></h2>
                                    <p>Category or Subtitle</p>
                                </div>
                                <div class="meta">
                                    <time class="published" datetime="2015-11-01">November 1, 2015</time>
                                    <a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
                                </div>
                            </header>
                            <span class="image featured"><img src="" alt="" /></span>
                            <p>First paragraph</p>
                            <p>Second paragraph </p>
                            <footer>
                                <ul class="stats">
                                    <li><a href="https://github.com/Bryson69" target="_blank">General</a></li>
                                    <li><a href="#" class="icon solid fa-heart">28</a></li>
                                    <li><a href="#" class="icon solid fa-comment">128</a></li>
                                </ul>
                            </footer>
                        </article>

                </div>
    {% endblock content %}