{% extends 'users/main.html' %} {% load static %} {% block content %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
<div class="wrapper">
    <div id="formContent">
        <!-- Tabs Titles -->
        <a href=" {% url 'login' %} ">
            <h2 class="active"> Sign In </h2>
        </a>
        <a href=" {% url 'register' %} ">
            <h2 class="inactive underlineHover"> Sign Up </h2>
        </a>

        <!-- Icon -->
        <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <!-- Login Form -->
        <form>

            {% csrf_token %}

            <input type="text" name="username" placeholder="Username..." ">
            
            <input type="password" name="password" placeholder="Password..."  >
            
            <input type="submit" value="Log In">

        </form>

        <!-- Remind Passowrd -->

        {% if messages %}
        <div id="formFooter" style=" background-color: lightgreen; margin-bottom: 10px; border-radius: .5em; padding: 2em 2em; width: 75%; margin-left: 70px;">
            {% for message in messages %}
            <span style="margin-bottom: 10px; font-style: inherit; font-weight: 600; font-stretch: semi-expanded;letter-spacing: 1px; font-size: 1em;">{{ message }}</span> {% endfor %}
        </div>
        {% endif %}


        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>
{% endblock content %}